<!DOCTYPE html>
<html>
  <head>
    <title>ADD A PHOTO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add yo photo</h1>
    <form action="/photos" method="POST">
      URL: <input type="text" name="submitted-url" /><br />
      Caption: <input type="text" name="caption" /></br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
