<!DOCTYPE html>
<html>
  <head>
    <title>Photo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>A photo</h1>
    <img src="<%= url %>" />
  </body>
</html>
