<!DOCTYPE html>
<html>
  <head>
    <title>A PHOTO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Here is a photo</h1>
    <p><%= photo.caption %></p>
    <img src="<%= photo.url %>" />
  </body>
</html>
