<!DOCTYPE html>
<html>
  <head>
    <title>Add a new Photo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a new photo</h1>
    <form action="/photos" method="POST">
      URL: <input type="text" name="url"/>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
